doctype html
html(lang="en", prefix="og: http://ogp.me/ns#")
  include ../includes/head.jade
  body
    include ../includes/header.jade
    block content
    include ../includes/footer.jade
    include ../includes/footer_final.jade
    include ../includes/modals.jade
    include ../includes/foot.jade